@media screen and (max-width: 1402px) {
    .heads {
        width: 95%;
    }
    .home {
        width: 95%;
    }
    section {
        width: 95%;
    }
    .ggmp .address_bx {
        left: 25%;
    }
}

@media screen and (max-width: 971px) {
    .heads .context .choose_bx {
        width: 95%;
    }
 
    .home {
        height: auto;
    }
    .home .home_bx {
        flex-wrap: wrap;
    }
    .home .home_bx .card {
        margin-top: 10px;
        margin: auto;
    }
    section {
        top: -100px;
    }
    section .box .cont_box ul li {
        font-size: 11px;
        width: 155px;
    }
    .ggmp .address_bx {
        left: 15%;
    }
}

@media screen and (max-width: 767px) {
    .heads {
        overflow: hidden;
    }
    .heads .context .cont_bx h1 {
        color: #fff;
    }
    .heads .context .cont_bx p {
        color: #fff;
    }
    .heads .context .cont_bx .weather h6 {
        color: #fff;
    }
    .heads   .cont_bx .btns_cont {
        color: #fff;
    }
    .heads .content .choose_bx .select {
        height: auto;
        flex-wrap: wrap;
    }
    .heads .content .choose_bx .select .card {
        width: 49%;
    }
    .heads .content .choose_bx .select .card:nth-last-child(1) {
        width: 100%;
        margin-top: 5px;
    }.about-select .card:nth-last-child(1){
        width: 49%!important;
    }
    
    
    .home .home_bx {
        width: 100%;
    }
    .home .home_bx {
        width: 88%;
        justify-content: center;
    }
    .home .home_bx .card {
        margin: 10px;
    }
    section .box {
        flex-direction: column;
    }
    section .box .img_bx,
    .cont_box {
        width: 100%;
    }
    section .box .cont_box {
        width: 85%;
        margin-top: 30px;
        margin-left: 8%;
    }
    section .box .cont_box ul li {
        width: 170px;
    }
    .ggmp .address_bx {
        left: 2%;
    }
}

@media screen and (max-width: 541px) {
  .piece{
    margin-left: px;
    margin-top: 20px;
  }  
  .title_button{
    justify-content: space-around!important;
  }
    .heads nav .right_bx ul {
        position: absolute;
        width: 320px;
        height: auto;
        top: 40px;
        right: -20px;
        padding: 10px;
        z-index: 9999999999999;
        align-items: center;
    }
    .heads nav .right_bx ul li {
        padding: 15px 10px;
    }
    .heads nav .right_bx ul li a {
        color: #fff;
    }
    .heads nav .right_bx ul li:nth-last-child(1) {
        border: none;
        border-radius: none;
        padding: 3px 14px;
    }
    .heads nav .right_bx ul li:nth-last-child(1) a {
        color: #fff;
    }
    .home {
        width: 98%;
       
    }
    .home .home_bx {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .ggmp .address_bx {
        width: 165px;
    }
    .ggmp .address_bx .location_bx h4 {
        font-size: 12px;
    }
    .ggmp .address_bx .location_bx .bi {
        font-size: 17px;
    }
}

@media screen and (max-width: 412px) {
    .heads .content .cont_bx {
        padding-left: 25px;
    }
    .heads .content .choose_bx .select .card {
       
        align-items: center;
        justify-content: center;
        margin: auto;
        overflow: hidden;
    }

}



