

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
}/*My Custom Stylesheet 7*/
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root {
    --background: url(img/bg.png)no-repeat center/cover;
}

html {
    font-family: 'Nunito', sans-serif;
}
.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(./img/Cube-1s-135px.svg);
  }
  .pad-2{
    padding-left: 15px;
}

.loader-wrap .layer .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #d8d8d8;
  }
  .loader-wrap {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
  }

.home {
    
    width: 65%;
   
    margin: auto;
    /* border: 1px solid #000; */
   
    z-index: 2;
}
.item span{
  margin-left: -14px !important; 
  align-self: baseline;
}

.home .title_button {
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    font-family: 'Nunito', sans-serif;
}


.title_button {
   
   justify-content:space-between!important;
}

.prop-location{
    color: var(--color-primary);
}
.title_button h2{
   
  color: var(--color-primary);
}
.title_button button{
    border-radius: 30px 30px 0px 30px;
}
.home .title_button button .bi {
    margin-left: 5px;
}

.home .home_bx {
    width: 100%;
    margin-top: 50px;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home .home_bx .piece {
    position: relative;
    width: 180px;
    height: 260px;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 15px;
    /* border: 1px solid #000; */
}

.home .home_bx .piece img {
    width: 100%;
    height: 100%;
    transition: all 1.1s;
    border-radius: 15px;
}
.piece:hover .bng {
transform: scale(1.2);
}

.home .home_bx .piece .context {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 9;
}

.home .home_bx .piece .context .bi {
    position: absolute;
    right: 3px;
    font-size: 10px;
    background-color: var(--color-primary);
    padding: 3px;
    border-radius: 30px 30px 0px 30px;
    top: 3px;
    color: #fff;
}

.context h5{
    color: white;
    padding: 5px 20px;
}
.cont h6{
    color: white;
}



.home .home_bx .piece .context .cont {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block!important;
    width: 100%;
    height: 20%;
}

.home .home_bx .piece .context .cont::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(20px);
    background: rgb(245, 245, 245, .1);
    backdrop-filter: blur(20px);
    border-radius: 0px 0px 13px 13px;
    z-index: -1;
}

.home .home_bx .piece .context .cont h6 {
    color: #fff;
    padding: 3px 3px 3px 3px;
    line-height: 5px;
    display: flex;

    margin-left: 3px;
}
.location_rx{
    display: flex;
    color: white;
    margin-top: 3px;
    margin-left: 3px;
}
.location_rx i{
   font-size: 13px;
}



.home .home_bx .piece .context .cont p {
    color: #ffffff;
   margin-top: 3px;
   margin-left: 3px;
    font-size: 12px;
    position: absolute;
   
    padding: 3px;
    font-size: 10px;
    background-color: var(--color-primary);
  
    border-radius: 0px 30px 30px 30px;
    
    color: #fff;
}
.room{
    color: white;
    padding-left: 65px;
    font-size: 13px;
}


.heads {
    width: 65%;
    height: 700px;
    /* border: 1px solid #000; */
    margin: auto;
    padding-top: 80px;
       display: flex;
    align-items: center;
  
    justify-content: center;
    flex-wrap: wrap;
    transition: .3s linear;
  
}

.heads nav {
    width: 100%;
    height: 7%;
    margin: 5px auto;
    margin-right: 25px;
    margin-left: 25px!important;
    margin-top: 25px !important;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heads nav .right_bx {
    display: flex;
    align-items: center;
}

.heads nav .right_bx ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.heads nav .right_bx ul li {
    padding: 3px 15px;
    cursor: pointer;
}

.heads nav .right_bx ul li:nth-last-child(1) {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 3px 20px;
}

.heads nav .right_bx ul li:nth-last-child(1) a {
    color: #000;
    cursor: pointer!important;
}

.heads nav .right_bx ul li:nth-last-child(1) a:hover {
    color: gray;
}

.heads nav .right_bx ul li a {
    text-decoration: none;
    color: gray;
    font-size: 11px;
    font-weight: 500;
    transition: .3s linear;
}

.heads nav .right_bx ul li a:hover {
    color: #000;
}

.heads nav .right_bx .account_bx {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.heads nav .right_bx .account_bx .bi {
    margin-left: 15px;
    color: gray;
    cursor: pointer;
    transition: .3s linear;
}

.heads nav .right_bx .account_bx .bi:hover {
    color: #000;
}

.heads .content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* border: 1px solid #000; */
    z-index: 5;
    
}
.nav-link{
    margin-top: 30px;
}
.lower{
    margin-top: 30px !important;
}
.heads .content .cont_bx {
    width: 500px;
   align-items: center;
   
 padding: 120px !important;
   text-align: center !important;
    color: #000;
   justify-content: center !important;
   align-items: center !important;
    padding: 20px;
    /* border: 1px solid #000; */
}

.heads .content .cont_bx h1 {
    font-size: 55px;
    line-height: 60px;
    font-weight: 600;
   
    color: white;
}

.heads .content .cont_bx p {
    font-size: 13px;
    font-weight: 400;
    color: rgb(100, 100, 100);
    margin-top: 10px;
}

.heads .content .cont_bx .weather {
    margin-top: 80px;
}

.heads .content .cont_bx .weather h6 {
    color: rgb(64, 64, 64);
    font-size: 10px;
    font-weight: 600;
}

.heads .content .cont_bx .weather h6 span {
    margin-left: 5px;
}

.heads .content .cont_bx .btns_cont {
    margin-top: 10px;
}

.heads .content .cont_bx .btns_cont i {
    border: 1px solid gray;
    padding: 0px 3.3px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s linear;
}

.heads .content .cont_bx .btns_cont i:hover {
    color: #000;
    background: rgb(0, 0, 0, .1);
}

.heads .content .cont_bx .images_bx {
    position: absolute;
    right: 20px;
    top: 40px;
    /* border: 1px solid #000; */
    width: 50px;
}

.heads .content .cont_bx .images_bx .card {
    position: relative;
    width: 100%;
    height: 50px;
    margin: auto;
   
    margin-top: 10px;
    background: rgb(237, 237, 237, .3);
    padding: 5px;
    border-radius: 8px;
}

.heads .content .cont_bx .images_bx .card img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.heads .content .cont_bx .images_bx .card h6 {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 14px;
    /* z-index: 99999; */
    color: #fff;
}

.heads .content .choose_bx {
    position: relative;
    width: 90%;
    height: auto;
    
    margin-top: 10px !important;
    margin: auto;
    /* border: 1px solid #000; */
}

.heads .content .choose_bx .stay_bx {
    display: flex;
    align-items: center;
}
.heads .content .choose_bx .stay_bx a {
  color: white;
}
.heads .content .choose_bx .stay_bx button {
    padding: 10px 30px;
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: .3s linear;
}
.heads .content .choose_bx .stay_bx button:hover a{
    color: black;
}

.heads .content .choose_bx .stay_bx button:hover {
    background: #fff;
    color: #000;
    border: 1px solid black;
}

.heads .content .choose_bx .stay_bx button:nth-child(1) {
    border-radius: 10px 0px 0px 0px;
    background: #fff;
    color: #000;
}
.slider-image {
   
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    top:80px;
   object-fit: cover;
   border-radius: 30px;
    width: 950px;
    height: 500px;

   
  }
  .about .content{
margin-top: -200px;
  }
  .features-p{
    margin-top: -200px !important;
  }


  .slider-image.acctive {
    opacity: 1;
  }
.heads .content .choose_bx .stay_bx button:nth-last-child(1) {
    border-radius: 0px 10px 0px 0px;
}

.heads .content .choose_bx .stay_bx button i {
    margin-right: 5px;
}

.heads .content .choose_bx .select {
    width: 100%;
    height: 100px;
    background: #fff;
    border-radius: 0px 10px 10px 10px;
    position: relative;
    padding: 10px 20px;
    box-shadow: 0px 5px 15px -10px rgb(214, 214, 214);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.heads .content .choose_bx .select .card {
    width: 26%;
    height: 50%;
    border: 1px solid  var(--color-primary);
    border-radius: 10px;
    box-shadow: 15px 10px 15px -10px rgb(103, 102, 102);
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    overflow: hidden;
}


.ggmp iframe{
    width: 80%;
}


swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }

.ggmp {
    position: relative;
    width: 100%;
    height: 380px;
    /* border: 1px solid #000; */
    top: -130px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.ggmp iframe {
    opacity: .8;
    
    border-radius: 0px;
}

.ggmp::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 15%;
    background: linear-gradient(0deg, transparent, #fff);
    top: 0;
    left: 0;
    z-index: 2;
}

.ggmp::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 15%;
    background: linear-gradient(180deg, transparent, #fff);
    bottom: 0;
    left: 0;
    z-index: 2;
}

.ggmp .address_bx {
    position: absolute;
    width: 240px;
    height: 65px;
    background: #fff;
    box-shadow: 4px 4px 25px gray;
    border-radius: 8px;
    padding: 0px 20px;
    top: 34%;
    left: 30%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ggmp .address_bx .bi {
    font-size: 25px;
}

/*Color Variables */

:root {
    --color-primary: #2289FF;
    --color-secondary: #314862 !important;
    --color-acent: #193F6A;}
    
    /*Custom Classes */
    
    .bg-primary{
    
    background-color: var(--color-primary);
    }
    
    .color-primary {color: var(--color-primary);}
    
    .bg-secondary {
    
    background-color: var(--color-secondary);}
    
    .color-secondary {
    
    color: var(--color-secondary);}
    .bg-acent {
    
    background-color: var(--color-acent);}
    
    .color-acent {
    
    color: var(--color-acent);}
.btn-themee{
    display: none;
}
    .btn-theme{
        box-shadow: none;
        margin: 0;
        align-self:flex-start;
        font-size: 15px;
        font-weight: 500;
        
        text-transform: capitalize;
        background-color: var(--color-primary);
        color: white;
        padding: 10px 20px;
        border-radius: 30px 0 30px 30px;
    }
    .btn-theeme{
        box-shadow: none;
        margin: 0;
        align-self:flex-start;
        font-size: 15px;
        font-weight: 500;
        
        text-transform: capitalize;
        background-color: var(--color-primary);
        color: white;
        padding: 10px 20px;
        border-radius: 0px 30px 30px 30px;
    }
    .btn-theme:hover{
        background-color: var(--color-acent);
        color: white
    }


    .bg-blur{
        position: fixed;
        height: 100%;
        top: 0px;
        transition: .5s ease;
        width: 100%;
        z-index: 100;
        -webkit-backdrop-filter: blur(20px);
        display: none;
        background-color:hsl(0, 0%, 00% / 0.75);
       backdrop-filter: blur(20px);
     transform: translateX();


     }

    .map {
        position: relative;
       
        width: 100%;
        display: flex;
        justify-content:center;
        height: 200px;
        /* border: 1px solid #000; */
        z-index: -10;
        overflow: hidden;
        
    }
    
    .map iframe {
        opacity: .8;
        width: 100%;
     
      
    }
    
    .map::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 15%;
        background: linear-gradient(0deg, transparent, #fff);
        
        left: 0;
        
        
    }
    
    .map::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 15%;
        background: linear-gradient(180deg, transparent, #fff);
        bottom: 0;
        left: 0;
        z-index:0;
    }
    
    .map .address_bx {
        position: absolute;
        width: 240px;
       
        height: 65px;
        background: #fff;
        box-shadow: 4px 4px 25px gray;
        border-radius: 8px;
        padding: 0px 20px;
        top: 4%;
        left: 20%;
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .map .address_bx .bi {
        font-size: 25px;
    }

    header .header{
        width: 100%;
        background-color: brown !important;
    }
   
    .navbar-toggler{
        margin-top: 30px;
    }
    .header nav.navbar .navbar-brand{
        font-weight: 500;
        color: var(--color-secondary);
        font-size: 18px;
       
        padding-top: 20px !important;
    }
    .header nav.navbar .navbar-brand .c-name{
        font-size: 17px;
       
        padding-top: 20px !important;
    }

    .header nav.navbar .nav-item{
        
        margin: auto 5px;
    }
    .header nav.navbar .nav-link{
        color: var(--color-secondary);
        font-weight: 500;
        padding: 10px 20px;
    }
    .navbar-nav{
        margin-left: auto;
    }
    .header .navbar .nav-link:hover,
    .header .navbar .nav-link.active{
        color: var(--color-primary);
        
    }
    .navbar{
        position: fixed;
       width: 80%;
       border-radius: 20px;
       margin-top: -15px;
       min-height: 80px;
       min-width: 100%;
       z-index: 100000;
       
      
       
        
    }
    

    section{
        padding-left: 25px;
        padding-right: 25px;
       margin: auto;
    }

    .hero-section{
        padding-top: 80px;
    }
    .hero-section img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        z-index: 10;
        
    }
    .cover{
        object-fit:fill;
        width: 1250px;
        height: 600px;
        border-radius: 20px;
    }
    .home-info{
        padding-top: -110px;
    }

    .home-info h5{
    position: absolute;
    left: 450px;
    top: 180px;
    }
    .home-info h1{
    position: absolute;
    left: 450px;
    top: 120px;
    }
   

    .home-info span i{
        left: 300px;
        top: 200px;
        color: white;
        position: relative;
        margin-left: 20px;
        background-color:var(--color-secondary) ;
        padding: 8px;
        transition: ease-in-out .3s;
        border-radius: 50%;
    }


    .home-info span i:hover{
        color: var(--color-secondary);
        background-color: white;
        cursor: pointer;
    }
/* search*/


.btn-play{
    box-shadow: none;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-secondary);
    color: white;
    padding: 10px 16px;
    border-radius: 100%;
    transition: 0.5 ease;
    margin-left: 20px;

}
.btn-play:hover{
   color: var(--color-acent);
    color: var(--color-primary);

}/*about section*/
.about{
    width: 100%;
padding: 120px 0;


}
.about{
    width: 100%;
padding: 120px 0;


}
.about h1{
    color: var(--color-secondary);
}
.about .image{
   border-radius:80px 0px 80px 80px;
   overflow: hidden;
   object-fit: cover;
}
.about .image img{
    width: 100%;
    height: 400px;
    object-fit: contain;
}
.buy{
    border-radius:30px ;
   box-shadow: 5px 5px 20px var(--color-primary);
 
}
.buy a{
    color: white;
}
.about p{
    font-size: 17px;
}



/* services*/
.centerr{
    margin: auto;
    display: flex;
    justify-content: center;
}

.sales-service{
    padding-top: 100px;
}
.footer-logo{
    width: 30%;

}
.service-p{
    margin-top: -10px !important;
    margin-bottom: 40px !important;
    text-align: center;
}
.service-show{
    min-width: 300px !important;
    max-width: 300px !important;
}
.services .d-flex{
   
    margin: auto;
  flex-wrap: wrap;
  display: flex;
   justify-content: space-evenly     !important;
}

.services .service-show{
    padding: 20px 30px;
    text-align: center;
    border-radius: 0px 30px 0px 30px ;
    margin-bottom: 20px;
 
    background-color: white;
}
.work-section .service-show{
    padding: 20px 30px;
    text-align: center;
    border-radius: 0px 30px 0px 30px ;
    margin: 10px;
    
    background-color: white;
}
.services .service-show i{
    padding: 20px ;
    width: 61px;
    font-size: 20px;
    color: var(--color-primary);
    background-color: #eeeeee;
    border-radius: 100%;
    margin-bottom: 10px;
    text-align: center;
}
.services .service-show p{
    font-size: 14px;
    font-weight: 400;
}

.property-section{
    width: 100%;
     padding: 50px 0;
margin-top: 120px!important;
     margin: auto;
     
}
.property-section .container{
    text-align: center;
   
}

.property-section .text-right a{
   color: white;
    font-size: 14px;
    font-weight: 500;
    transition: 1s ease;
}
.property-section .text-right a:hover{
    color: var(--color-primary);
 
}

.property-section .property-slider{
height: 500px;
width: 100%;

margin-top:  50px;
border: none;


}
.property-slider .swiper{
    width: 100%;
    height: 100%;
   
    
  }
.property-slider .swiper .swiper-slide .property-list{
  border-radius: 0px 30px 0px 30px;
    padding: 10px;
    
    background-color: white;
 
  }
  .property-slider .swiper .swiper-slide .property-list .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 30px 0px 30px;
    overflow: hidden;
    margin-bottom: 10px;
    color: #000000;
 
  }
  .property-slider .swiper .swiper-slide .property-list p{
   font-weight: 500 ;
 
  }
.property-slider .swiper .swiper-slide .property-list .image{
    width: 100%;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius:0px 30px 0px 30px;
 
  }
.property-list .text-right h4{
    text-align: right;
}


.work-section{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin-top: -100px;

}

.work-section h1{
    color: var(--color-secondary);
}
.work-section p{
    color: var(--color-secondary);
    font-weight: 400;
}

.work-section    .service-show{
    padding: 20px 30px;
    text-align: center;
    border-radius: 0px 30px 0px 30px ;

    padding-left: 40px!important;
    cursor: pointer;
    background-color: rgb(255, 252, 252);
    transition: 1s ease;
}
.work-section .service-show i{
    padding: 20px ;
    width: 61px;
    font-size: 20px;
    color: var(--color-primary);
    background-color: #eeeeee;
    border-radius: 100%;
    margin-bottom: 10px;
    text-align: center;
}
.work-section .service-show p{
    font-size: 14px;
    font-weight: 400;
}

.work-section .service-show:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.swiper-wrapper{
    padding-bottom: 20px;
}

.feature-section{
    width: 100%;
    text-align: center;
    color: var(--color-secondary);
    
}

.feature-section .property-list{
  border-radius: 0px 30px 0px 30px;
    padding: 10px;
    color: #000000;
    background-color: white;
  
  }
  .feature-sectionr .property-list .image img{
  
   
    object-fit: fill;
    
   
 
  }
  .larger{
    font-size: 15px;
  }
  .feature-section  .property-list p{
   font-weight: 500 ;
 
  }
.feature-section .property-list .image{
  
    overflow: hidden;
  
    margin-bottom: 10px;
    border-radius:0px 30px 0px 30px;
 
  }
  .btn-feature{
   border-radius: 30px 30px 30px 30px!important;
  }

   
  .mail-section{
    width: 70%;
    padding: 100px 0;
    display: grid;
    text-align: center;
    margin-top: -120px;
  

  }
  .mail-section h1{
   color: var(--color-primary);
  

  }
  .mail-section .form input{
    padding: 15px 0;
    border: none;
  
  }
  .mail-section .form {
    padding: 10px 20px;
    border-radius: 40px;
  }
  .mail-section .form input:focus{
    outline: none;
    border: none;
    box-shadow: none;
  }
  .mail-section .btn{
margin-top: 30px;
padding: 10px 50px;
font-size: 20px;
letter-spacing: 2px;
  }
  .footer{
    width: 100%;
    padding: 50px 0;
    background-color: var(--color-primary);
    color: white;
    border-radius: 100px 0 0 0;
  }
  .footer .row{
    display: flex;
  }
  .footer hr{
    color: white;
  }
  .footer ul li a{
    color: white;
    font-size: 13px;
    transition: .5s ease;
  }
  .footer ul li a:hover{
   opacity: .7;
   color: whitr;
  }
  .footer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  }

  .footer .col-md-2{
    text-align: center;
  }
  .footer .col-md-2 h6{
 font-size: 20px;
  }
 

  .form-cont{
    display: none;
  }
  .formcont{
    position: fixed;
        left: 40%;
        top: 30%;
        background: rgba(0, 0, 0, .7);
         z-index: 100000;
        display: none;
    width: 400px;
    flex-wrap: wrap;
    height: 400px;
    transition: .5s ease;
    text-align: center;
   align-items: center;
    padding: 30px 0px;
    margin: auto;
    border-radius:30px 0px 30px 0px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
    overflow: hidden;

    
   

}
.formcont span{
    font-weight: bold;
    padding: 0 10px;
    color:  rgb(255, 255, 255);
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.formbtn{
    display: inline-block;

}
.formcont form{
    max-width: 400px;
    padding: 0px;
    position: absolute;
    top: 80px;
    transition: transform .7s;
   
}
.formcont form a{
   color: white;
   
}
 form input{
    width: 300px;
    height: 30px;
    margin: 10px 0;
    padding: 20px 10px;
    border: 1px solid  rgb(255, 255, 255);
    border-radius:15px 0px 15px 0px;
 }
 form .btn{
    width: 80%;
    cursor: pointer;
    border-radius: 24px;
    margin: 10px 0;
    color: black;
    background-color: white;
 }
 #log{
    left: -400px;
  
 }
 #reg{
    left: 0;
   
 }
 #indicator{
    width: 100px;
    border: none;
    background:  rgb(255, 255, 255);
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform .7s;
 }


 .blog-img{
    height: 550px!important;
    width: 100% !important ;
    border-radius: 50px 50px 50px 50px !important;
 }





  /*media query*/


  

  @media screen and (max-width: 582px){

    .nav-link{
        margin-top: 0px;
    }
    .heads .content .choose_bx {
        position: relative;
        width: 90%;
        height: auto;
        
        margin-top: 50px !important;
        margin: auto;
        /* border: 1px solid #000; */
    }
    .heads .content .cont_bx {
        width: 500px;
       align-items: center;
       margin-top: 115px !important;
     padding: 30px !important;
       text-align: center !important;
        color: #000;
       justify-content: center !important;
       align-items: center !important;
        padding: 20px;
        /* border: 1px solid #000; */
    }

    .heads .content .cont_bx h1 {
        font-size: 34px;
        line-height: 30px;
        font-weight: 600;
      
        color: white;
    }
    .home-info h1,h5{
        display: none;
       
    } 
    section{
        padding-left: 0px;
        padding-right: 0px;
       margin: auto;
    }
    .cover{
        object-fit:cover;
        width: 340px;
        height: 200px;
        border-radius: 20px;
    }

    .lower{
      display: none;
    }
    .btn-themee{
        box-shadow: none;
        margin: 0;
        align-self:flex-start;
        font-size: 15px;
        font-weight: 500;
        display: initial;
        text-transform: capitalize;
        background-color: var(--color-primary);
        color: white;
        padding: 10px 20px;
        border-radius: 30px 0 30px 30px;
    }


    /*service-section*/
 

     /*work-section*/
     .work-section .d-flex{
        flex-direction: column;
     }

      /*property-section*/
      .property-section{
        width: 100%;
         padding: 50px 0;
    margin-top: 0px!important;
         margin: auto;
    }


 /*mail-section*/
 
  .mail-section .btn{
    margin-top: 30px;
    padding: 5px 30px;
    font-size: 20px;
    letter-spacing: 2px;
      }

      .mail-section .form input{
        padding: 5px 5px!important;
        border: none;
        width: 100%!important;
      }
      .mail-section .form {
        padding: 10px 20px;
        border-radius: 40px;
       
      }
    
    .mail-section .form input{
      padding: 15px 0;
      border: none;
     width: 100%;
    }


      .map .address_bx {
        width: 165px;
    }
    .map .address_bx .location_bx h4 {
        font-size: 12px;
    }
    .map .address_bx .location_bx .bi {
        font-size: 17px;
    }

     /*footer-section*/

     .footer hr{
        width: 35%;
        margin-top: -8px;
     }
    

     .navbar-collapse ul li button{
        border-radius: 0px 30px 30px 30px;
     }


     /*contact-form-section*/



     .formcont{
        display: none;
     }
    .form-cont{
       display: flex;
       align-self: center;
        width: 300px;
        flex-wrap: wrap;
        height: 380px;
        position: fixed;
        left: 10%;
        top: 30%;
        background: rgba(0, 0, 0, .7);
        z-index: 10000;
        display: none;
        text-align: center;
       align-items: center;
        padding: 30px 0px;
        margin: auto;
        border-radius:30px 0px 30px 0px;
        box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
        overflow: hidden;
        
     
       
    
        
       
    
    }
  
    .form-cont span{
        font-weight: bold;
        padding: 0 10px;
        color:  rgb(255, 255, 255);
        cursor: pointer;
        width: 100px;
        display: inline-block;
    }
    .form-btn{
        display: inline-block;
    
    }
    .form-cont form{
        max-width: 300px;
        padding: 0px;
        position: absolute;
        top: 80px;
        transition: transform .7s;
       
    }
    .form-cont form a{
       color: white;
       
    }
    .form-cont form input{
        width: 250px;
        height: 30px;
        margin: 10px 0;
        padding: 20px 10px;
        border: 1px solid  rgb(255, 255, 255);
        border-radius:15px 0px 15px 0px;
     }
     .form-cont form input:focus{
        outline: none;
     }
    .form-cont form .btn{
        width: 80%;
        cursor: pointer;
        border-radius: 24px;
        margin: 10px 0;
        color: black;
        background-color: white;
     }
     #logg{
        left: -300px;
      
     }
     #regg{
        left: 0;
       
     }
     .bg-blurr{
        position: fixed;
        height: 100%;
        cursor: pointer;
        top: 0px;
        -webkit-backdrop-filter: blur(20px);
        transition: .5s ease;
        width: 100%;
        background-color:hsl(0, 0%, 00% / 0.75);
       backdrop-filter: blur(20px);
     transform: translateX();
     display: none;
     z-index: 100;


     }
     #indicatorr{
        width: 100px;
        border: none;
        background:  rgb(255, 255, 255);
        height: 3px;
        margin-top: 8px;
        transform: translateX(100px);
        transition: transform .7s;
     }
     .blog-img{
        height: 300px!important;
        border-radius: 50px 50px 50px 50px !important;
     }
     .blog-page .about{
        margin-top: 0px;
     }

     .about-select{
        display: flex;
       
        justify-content: center!important;
     }
    
      .cont_bx h1{
        color: white;
      }
      .select-card:nth-last-child(1) {
        width: 90%;
        margin-top: 5px;
    }

    .select-card{
   
  
        -webkit-appearance:none;
        appearance: none;
      
        cursor: pointer;
        border: 1px solid rgb(51, 50, 50) !important;
     width: 75px!important;
    
     display: flex;
     margin-top: 5px;
     font-size: 12px;
     justify-content: center;
     align-items: center;
     text-align: center;
     box-shadow: 15px 10px 15px -10px rgb(103, 102, 102);
        border-radius: 10px;
        
        
    }
    .moving{
        position: absolute;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        top: 80px;
       object-fit: cover;
        width: 95%!important;
        border-radius: 30px;
        height: 500px;
    }
    .auto-slide{
        position: absolute;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        top: 80px;
       object-fit: cover;
        width: 95%!important;
        border-radius: 30px;
        height: 500px;
    }
      #social{
        list-style-type: none;
       
       
        display: flex;
        justify-content: flex-start !important;
        align-items:flex-start;
        flex-direction: column;
      
     
      }
      #social li{
      display: flex;
      margin-top: -10px;
      }
      #social li h6{
        text-align: center;
        margin-left: 10px;
        padding-top: 4px;
      }
      #social i{
        font-size: 20px;
      
        background-color: white !important;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        color: var(--color-primary) !important;
        
      }

    
  }

  .blog-item {
  margin-top: -40px;
  font-size: 20px;
  }
  .blog-about .btn{
    padding-top: -600px;
    margin-bottom: -40px!important;
  }
  .house-name{
    margin-top: -20px;
  }
  .blog-page .property-section{
    margin-top: 80px!important;
  }
.office{
    padding-top: 10px !important;
    padding-left: 20px !important;
}
  .schedule .container{
   display: grid;
   margin-top: -230px!important;
    justify-content: center;
    
  }

  .meet{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 10px!important;
  }
  .meet span i{
    margin-right: 5px;
  }


  .swiper-slide .blog-img{

   width: 900px;
  }
  .swiper-slide .imagee{
margin-left: 800px;
   display: flex;
   justify-content: space-between;
  }
  .swiper-wrapperr{
    display: flex;
    justify-content: space-between;
  }
  .blog-slider .swiper-wrapper{
    display: flex;align-items: center;

  }

  .about-about .image img{
    object-fit: fill;
    
  }
  .socials{
    list-style-type: none;
    margin: auto;
    margin-left: -40px;
    display: flex;
    
 
  }
  .socials i{
    font-size: 20px;
    margin-left: 15px;
    background-color: var(--color-primary);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    
  }
  .wrap{
    display: flex;
    flex-wrap: wrap;
  }

  .work-section-about{
    margin-top: 100px;
  }
.card{
    min-height: 60px;
    font-weight: 400;
    background-color: rgb(240, 239, 239);
    border: 1px solid var(--color-primary);
    
   
}
.card button{
    font-weight: 400;
    background-color:  rgb(240, 239, 239);
  
    border: none;
}
.dbl-card{
    padding:  5px 10px!important;
    border: 1px solid black;
    display: flex;
    border-radius: 10px;
    margin-top: 5px;
    width: 120px;
    justify-content: center;
    align-items: center;

}
.select-card{
   
  
    -webkit-appearance:none;
    appearance: none;
  margin-top: 5px;
    cursor: pointer;
    border: 1px solid var(--color-primary);
 width: 120px;
 padding:  10px 20px 10px 20px;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 box-shadow: 15px 10px 15px -10px rgb(103, 102, 102);
    border-radius: 10px;
    margin-left: 5px;
    
}
.fw-b{
    text-transform: capitalize!important;
}
.about-select{
    flex-wrap: wrap!important;
    justify-content:center!important;
    min-width: 200px;
    display: inline-flex !important;
    box-shadow: 15px 10px 15px -10px rgb(103, 102, 102)!important
    ;
}

.btn-search{
    color: white;
    background-color: var(--color-primary);
    border: 1px solid wheat;
}
.project-work
{
    padding-top: 200px;
}
.btn-search{
    color: white;
    background-color: var(--color-primary);
    border: 1px solid wheat;
    padding:  15px 15x 15px 15px !important;
    margin-top: 5px;
}
.polish{
    width: 80px;
    padding-right: 10px;
    padding-top: 10px !important;
}
.moving{
    position: absolute;

transform: fade;
position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    top:80px;
   object-fit: cover;
   border-radius: 30px;
   margin-top: 15px;
    width: 950px;
    height: 500px;
}
.auto-slide{
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    top:80px;
   object-fit: cover;
    width: 950px;
    border-radius: 30px;
    height: 500px;
    opacity: 0;
   
   

}
.about-about {
    text-align: center!important;
}
.mission-s .service-show{
min-height:200px ;
}
.team{
    height: 300px!important;
}

.branch-n{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.branch-n .service-show{
 border-radius: 30px;
}


.about-services>*{
   text-align: center !important;
}
.blog-about .imager{
    margin: auto;
    display: flex;
    justify-content: center;
  
    
}


.property-section .property-slider{
    height: 500px;
    width: 100%;
    
    margin-top:  50px;
    border: none;
    
    
    }
    .property-slider .swwiper{
        width: 100%;
        height: 100%;
       
        
      }
      
    .property-slider .swwiper .swwiper-slide .property-list{
      border-radius: 0px 30px 0px 30px;
        padding: 10px;
        
        background-color: white;
     
      }
      .property-slider .swwiper .swwiper-slide .property-list .image img{
        width: 2px!important;
        height: 100%;
        object-fit: cover;
        border-radius: 0px 30px 0px 30px;
        overflow: hidden;
        margin-bottom: 10px;
        color: #000000;
     
      }
      .property-slider .swwiper .swwiper-slide .property-list p{
       font-weight: 500 ;
     
      }
    .property-slider .swwiper .swwiper-slide .property-list .image{
        width: 100%;
        height: 200px;
        overflow: hidden;
        object-fit: cover;
        margin-bottom: 10px;
        border-radius:0px 30px 0px 30px;
     
      }
    .property-list .text-right h4{
        text-align: right;
    }
    .footer i{
        padding-right: 7px;
    }
    .footer-location{
        align-items: flex-start !important;
    }
    .blg-p{

        width: 320px;
        height:300px;
        border-radius: 30px 0px 30px 0px;
        padding: 10px 10px 10px 10px;
    }
    .swwiper-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .swwiper-slide{
        margin-top: -30px;
        width: 360px !important;
        height: 500px !important;
       cursor: pointer;
       padding: 10px  10px  10px  10px;
       
      }
      .property-list{
       
        border-radius: 30px 0px 30px 0px;
        padding: 10px !important;
        flex-wrap: wrap ;
      }
      .intro hr{
        margin-top: -6px;
       
      }
      .admin {
        margin-top: -10px;
      }
      .intro h6{
text-align: left;
margin-left: 5px;
font-size: 17px;

      }

      .n-form{
        display: flex;
        text-align: center;
        align-items: center;
     
        justify-content: center;
        
      }
      #social{
        list-style-type: none;
        margin: auto;
       
        display: flex;
        justify-content: space-evenly;
     
      }
      #social i{
        font-size: 20px;
      
        background-color: var(--color-primary);
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        color: white;
        
      }
      #social li{
        text-align: center;
        margin-top: 10px;
      }
      #social li h6{
        text-align: center;
        margin-top: 10px;
      }
      .names{
      justify-content: space-between;
      }
      .names input{
        padding: 10px 20px;
      border-radius: 10px;
        width: 150px;
        border: 1px solid var(--color-primary);

      }
      .c-form{
        display: block;
        justify-content: flex-end;
        border: 0.1px solid gray;
        border-radius: 30px 0px 30px 30px;
        padding: 20px;
      }
      textarea{
        width: 310px;
        background-color: rgb(236, 236, 236);
        height: 100px;
        margin-top: 5px;
       border: 1px solid var(--color-primary);
        border-radius: 10px;
        padding: 10px 20px;
      }
      .mail{
        display: block;
        
      }
      .e-mail input{
        width: 310px;
        padding: 10px 20px;
        margin-top: 5px;
        border-radius: 10px;
        
      }
      .form-b{
        margin-left: 230px;
      }
      .hand-out{
        margin-top: 20px;
      }

      .case>*{
          text-align: center;
     
      }
.case{
    width: 180px;
    box-shadow: 0px 5px 15px 1px rgb(214, 214, 214);
    margin-top: 20px;
    background-color: rgb(237, 236, 236);
    border-radius: 20px !important;
}
.lct{
    background-color: #2289FF;
    height: 100px;
    border-radius: 20px 20px 20px 0px;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-size: 15px !important;
}
.desc{
    background-color: rgb(237, 236, 236);
    align-items: center;
    padding: 15px;
    align-self: center;
    border-radius: 20px 20px 20px 20px;
}
.desc h5{
    font-size: 15px;
}
.shift{
   
}
.fea{
    padding-top: 10px;
}
.fea i{
    color: #002f64;
    font-size: 10px;
    padding-top:5px;
}
.fea h6{
    
    padding-left:5px;
}
.bt{
   background-color: #2289FF;
   padding: 5px 20px;
   border-radius: 30px;
   color: white;
   border: none;
   margin-top: 10px;
 
}
.bt:hover{
    background-color:#2289FF ;
}
.bt a{
    color: white;
   
}
